build/bin
bin/
build/windows/generated-info.json
build/windows/generated-manifest.xml
wails_windows_*.syso
node_modules
frontend/dist
frontend/package.json.md5
dist/*
!dist/.gitkeep
frontend/coverage
*.db
*.db-shm
*.db-wal
*.log
